<!DOCTYPE html>
<html>
<head>
	<title>Contact us</title>
	<style type="text/css">
	    body {
            background-image: url('{{url_for('static', filename='NewStingerGamePoster.png')}}');
            background-position: -1px -1px;
			background-size: 1400px 700px;
			background-repeat: no-repeat;
        }
    </style>
</head>
<body>
    <style type="text/css">
    	.form {
            background-color: rgba(0, 0, 5, 0.7);
            position: absolute;
            width: 40%;
            min-height: 60%;
            margin: 140px 400px;
    	}
    </style>
    <div class="form"><center>
    	<br>
    	<br>
    	<br>
    	<h2><font color="white">CONTACT ME</font></h2>
    	<br>
    	<br>
    	<p><font color="white"> Any question? ask <a href="mailto:bagol21@gmail.com">here</a></font></p>
    	<form action="/">
            <button type="submit">Cancel</button>
    	</form>
    </center></div>
</body>
</html>