<!DOCTYPE html>
<html>
<head>
	<title>TORCHCODE - Home</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=none">
	<style type="text/css">
		body {
			background-image: url("{{url_for('static', filename='NewStingerGamePoster.png')}}");
			background-position: -1px -1px;
			background-size: 1400px 700px;
			background-repeat: no-repeat;
		}
	</style>
</head>
<body>
    <style type="text/css">
    	.form {
            background-color: rgba(0, 0, 5, 0.7);
            position: absolute;
            width: 40%;
            min-height: 60%;
            margin: 140px 400px;
    	}
        
        #nama {
        	background-color: transparent;
        	border: none;
        	border-bottom: 1px solid lightgrey;
        	border-radius: 3px;
        	width: 60%;
        	height: 30px;
        	color: grey;
        }

        #alamat {
        	background-color: transparent;
        	border: none;
        	border-bottom: 1px solid lightgrey;
        	border-radius: 3px;
        	width: 60%;
        	height: 30px;
        	color: grey;
        }

        #no_hp {
        	background-color: transparent;
        	border: none;
        	border-bottom: 1px solid lightgrey;
        	border-radius: 3px;
        	width: 60%;
        	height: 30px;
        	color: grey;
        }

        #keterangan {
        	background-color: transparent;
        	border: none;
        	border-bottom: 1px solid lightgrey;
        	border-radius: 3px;
        	width: 60%;
        	height: 100px;
        	color: grey;
        }
    </style>
    <div class="form"><center>
    	<form method="post">
    		<br>
    		<br>
    		<br>
    		<input name="nama" type="text" id="nama" placeholder="Nama anda...">
    		<br>
    		<br>
    		<input name="alamat" type="text" placeholder="Alamat..." id="alamat">
    		<br>
    		<br>
    		<input name="no_hp" type="number" placeholder="No handphone..." id="no_hp">
    		<br>
    		<br>
    		<textarea name="keterangan" type="text" placeholder="Keterangan..." id="keterangan"></textarea>
    		<br>
    		<br>
    		<button type="submit"> Submit </button>
    		<br>
    		<br>
    	</form>
    	<form action="contact">
    		<button type="submit"> Contact us </button>
    	</form>
    	<br>
    	<br>
    	<br>
    	<br>
    </center></div>
</body>
</html>